.header {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    padding: 1.5rem 0;
}

.header-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color:white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}


.footer {
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.footer-text {
    font-size: 1rem;
    margin: 0;
}

/* Responsive Styles */

/* Pour les grands écrans (ordinateurs de bureau) */
@media (min-width: 1200px) {
    .header-container {
        width: 90%;
    }
}

/* Pour les tablettes (entre 768px et 1199px) */
@media (max-width: 1199px) and (min-width: 768px) {
    .header-container {
        width: 90%;
    }
}

/* Pour les téléphones (moins de 768px) */
@media (max-width: 767px) {
    .header-container {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }

    .header-title {
        font-size: 1.5rem;
    }

    .footer {
        font-size: 0.9rem;
    }
}
